<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<?define BackgroundDlg="..\..\..\..\lib\resources\images\windows_setup\setup_screen-01.png"?>
<?define BannerDlg="..\..\..\..\lib\resources\images\windows_setup\setup_screen-02.png"?>
<?define RenodeIcon="..\..\..\..\lib\resources\images\windows_setup\renode.ico"?>
<?define RenodeNoBgIcon="..\..\..\..\lib\resources\images\windows_setup\renode_nobg.ico"?>
  <Product Id="*" Name="Renode" Language="1033" Version="$(var.VERSION)" Manufacturer="Antmicro" UpgradeCode="7e549c3f-a15a-4101-8071-9d52a16a28f6">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version of this software is already installed." AllowSameVersionUpgrades="no" />
    <Media Id="1" Cabinet="cabinet.cab" EmbedCab="yes" />

    <WixVariable Id="WixUIDialogBmp" Value="$(var.BackgroundDlg)" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.BannerDlg)" />
    <WixVariable Id="WixUIExclamationIco" Value="$(var.RenodeIcon)" />
    <WixVariable Id="WixUIInfoIco" Value="$(var.RenodeIcon)" />

    <Icon Id="Renode.ico" SourceFile="$(var.RenodeIcon)"/>
    <Icon Id="RenodeNoBg.ico" SourceFile="$(var.RenodeNoBgIcon)"/>
    <Property Id="ARPPRODUCTICON" Value="Renode.ico" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="Renode">      
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="Renode"/>
        </Directory>
        <Directory Id="DesktopFolder" Name="Renode" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="EnvVar" Guid="e6b0e9a4-b3c0-43dc-b9a6-a2c4b953aad8" KeyPath="yes">
        <Condition>PATHOPTION</Condition>
        <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]bin" Permanent="no" Part="first" Action="set" System="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="674dc986-f515-4abd-b191-7ee813bd29b5">
        <Condition>STARTMENUSHORTCUT</Condition>
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Renode" Description="Renode" Target="[INSTALLDIR]bin\Renode.exe" WorkingDirectory="INSTALLDIR" Icon="RenodeNoBg.ico"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Renode" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="b066e160-840b-4dc9-ad6e-31e9d9bb74a1">
        <Condition>DESKTOPSHORTCUT</Condition>
        <Shortcut Id="ApplicationDesktopShortcut" Name="Renode" Description="Renode" Target="[INSTALLDIR]bin\Renode.exe" WorkingDirectory="INSTALLDIR" Icon="Renode.ico"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Renode" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="Complete" Title="Renode">
      <Feature Id="MainProgram" Level="1" ConfigurableDirectory="INSTALLDIR" >
        <ComponentGroupRef Id="Items" />
      </Feature>
      <Feature Id="Options" Level="1">
        <ComponentRef Id="EnvVar" />
        <ComponentRef Id="ApplicationShortcut" />
        <ComponentRef Id="ApplicationShortcutDesktop" />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_RenodeInstall" />
  </Product>
</Wix>
